<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список покупок</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none bg-danger"></div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-4 link-secondary border-bottom rounded-3 border-3 border-dark">Все Списки</a></li>
        <li><a href="#" class="nav-link px-4 link-dark">Список на сегодня</a></li>
<!--            <li><a href="#" class="nav-link px-4 link-dark" th:text="${nameSpisok}"></a></li>-->
        <li><a href="#" class="nav-link px-4 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-4 link-dark">О разработчике</a></li>
    </ul>

    <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
    </div>
</header>
<body>
<div class="album py-5 bg-light" th:if="${error == null}">
    <div class="container-fluid">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-sm-3">

            <div class="col" >
                <div class="card shadow-sm rounded-3 border-4 border-primary">
                    <h5 class="rounded-3" align="center">СПИСОК ПОКУПОК</h5>
                    <div class="card-body" th:each="goods: ${goodsREADY_BYU}">

                        <div class="row align-items-center">
                            <div class="col-sm-2">
                                <form action="/editNameGood" method="post">
                                    <button type="submit" class="btn btn-light justify-content-start" ><img src="/images/edit.jpg" alt="редактировать" width="20" height="20"></button>
                                </form>
                            </div>
                            <div class="col-6 align-self-center" >
                                <h5 class="text-start border-bottom border-2 border-info" th:text="${goods.getName()}">th:text1</h5>
                            </div>
                            <div class="col-sm-1">
                                <form action="/buyGood" method="post">
                                    <button type="submit" class="btn btn-light"><img src="/images/pngtree-green-check-mark-icon-flat-style-vector-png-image_3057019.jpg" alt="редактировать" width="25" height="25"></button>
                                </form>
                            </div>
                            <div class="col-sm-1">
                                <form action="/deleteGood" method="post">
                                    <button type="submit" class="btn btn-light"><img src="/images/png-transparent-stop-sign-stop-miscellaneous-white-face.png" alt="редактировать" width="25" height="25"></button>
                                </form>
                            </div>
                            <div class="col-sm-1">
                                <form action="/notFindGood" method="post">
                                    <button type="submit" class="btn btn-light"><img src="/images/free-png.ru-38.png" alt="редактировать" width="25" height="25"></button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm rounded-3 border-4 border-success">
                    <h5 class="rounded-3" align="center">СОВЕРШЕННЫЕ ПОКУПКМ</h5>
                    <div class="card-body" th:each="goodsByu: ${goodsBYU}">

                        <div class="row align-items-center">
                            <div class="col-sm-2"></div>
                            <div class="col-6 align-self-center" >
                                <h5 class="text-start border-bottom border-2 border-info" th:text="${goodsByu.getName()}">th:text1</h5>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1">
                                <form action="/cancelGood" method="post">
                                    <button type="submit" class="btn btn-light"><img src="/images/free-png.ru-38.png" alt="редактировать" width="25" height="25"></button>
                                </form>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm rounded-3 border-4 border-danger">
                    <h5 class="rounded-3" align="center">НЕ КУПЛЕННО</h5>
                    <div class="card-body" th:each="goodsCancel: ${goodsCANCEL}">

                        <div class="row align-items-center">
                            <div class="col-sm-2"></div>
                            <div class="col-6 align-self-center" >
                                <h5 class="text-start border-bottom border-2 border-info" th:text="${goodsCancel.getName()}">th:text1</h5>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1">
                                <form action="/cancelGood" method="post">
                                    <button type="submit" class="btn btn-light"><img src="/images/free-png.ru-38.png" alt="редактировать" width="25" height="25"></button>
                                </form>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!--типа 501 ошибка страница-->
<div th:unless="${error == null}">
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">ОШИБКА</h1>
            <p class="lead" th:text="${error}"></p>
        </div>
    </main>
</div>

</body>
</html>