<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список покупок</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none bg-danger"></div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a th:href="@{'/startPage'}" class="nav-link px-4 link-dark">Все Списки</a></li>
        <li><a th:href="@{'/startPageToDay'}" class="nav-link px-4 link-dark">Список на сегодня</a></li>
        <li><a href="#" class="nav-link px-4 link-secondary border-bottom rounded-3 border-3 border-dark" th:text="${nameShoppingList}"></a></li>
        <li><a th:href="@{'/instruction'}" class="nav-link px-4 link-dark">Инструкция</a></li>
        <li><a href="#" class="nav-link px-4 link-dark">О разработчике</a></li>
    </ul>

    <div class="col-md-3 text-end">
        <div class=" text-center">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle show" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="true">
                <button alt="nickname" width="32" height="32" class="btn btn-info text-capitalize rounded-circle" th:text="${currentUser.getNickName()}">text</button>
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 34px);" data-popper-placement="bottom-start">
                <li><a class="dropdown-item" href="#">Настройка</a></li>
                <li><a class="dropdown-item" th:href="@{'profile/' + ${currentUser.getId()}}">Профиль</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Выйти</a></li>
            </ul>
        </div>
    </div>

</header>
<body>
<div class="album py-5 bg-light" th:if="${error == null}">
    <div class="container-fluid">

        <div class="row row-cols-1 row-cols-sm-2">

            <div class="col" >
                <div class="card shadow-sm rounded-3 border-4 border-primary">
                    <h5 class="rounded-3" align="center">СПИСОК ПОКУПОК</h5>
                    <div class="card-body" th:each="goods: ${goodsREADY_BYU}">

                        <div class="row align-items-center">
                            <div class="col-sm-2">
                                <img th:src="${goods.getImg()}" class="img-fluid">
                            </div>
                            <div class="col-4 align-self-center" >
                                <h5 class="text-center border-bottom border-2 border-info" th:text="${goods.getName()}">th:text1</h5>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="text-center border-bottom border-2 border-info" th:text="${goods.getCount()} + ' шт.'">th:text1</h5>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="text-center border-bottom border-2 border-info" th:text="${goods.getPrice()} + ' &#x20bd'">th:text1</h5>
                            </div>
                            <div class="col-sm-1">
                                <form th:action="@{${idSpisok} + '/buyGood/'+${goods.getId()}}" method="post">
                                    <button type="submit" class="btn btn-light"><img src="/images/pngtree-green-check-mark-icon-flat-style-vector-png-image_3057019.jpg" alt="редактировать" width="25" height="25"></button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm rounded-3 border-4 border-success">
                    <h5 class="rounded-3" align="center">СОВЕРШЕННЫЕ ПОКУПКМ</h5>
                    <div class="card-body" th:each="goodsByu: ${goodsBYU}">

                        <div class="row align-items-center">
                            <div class="col-sm-2">
                                <img th:src="${goodsByu.getImg()}" class="img-fluid">
                            </div>
                            <div class="col-4 align-self-center" >
                                <h5 class="text-center border-bottom border-2 border-info" th:text="${goodsByu.getName()}">th:text1</h5>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="text-center border-bottom border-2 border-info" th:text="${goodsByu.getCount()} + ' шт.'">th:text1</h5>
                            </div>
                            <div class="col-sm-2">
                                <h5 class="text-center border-bottom border-2 border-info" th:text="${goodsByu.getPrice()} + ' &#x20bd'">th:text1</h5>
                            </div>
                            <div class="col-sm-1">
                                <form th:action="@{${idSpisok} + '/cancelGood/'+${goodsByu.getId()}}" method="post">
                                    <button type="submit" class="btn btn-light"><img src="/images/free-png.ru-38.png" alt="редактировать" width="25" height="25"></button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!--типа 501 ошибка страница-->
<div th:unless="${error == null}">
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">ОШИБКА</h1>
            <p class="lead" th:text="${error}"></p>
        </div>
    </main>
</div>

</body>
</html>